* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    width:100%;
    height:100%;
    overflow: hidden;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  @font-face {
    font-family:'bungee';
    src: url(fonts/BungeeHairline-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'bubbler';
    src: url(fonts/BubblerOne-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }
  .background {
    margin: auto;
    background: linear-gradient(296.55deg, rgba(75, 104, 184, 0.6) 0.76%, rgba(75, 104, 184, 0) 105.9%), linear-gradient(117.59deg, rgba(32, 78, 107, 0.8) 7.14%, rgba(32, 78, 107, 0) 101.06%);
    width: 100%;
    height: 100%;
  }
  .t{
    padding: 20px 20px 0px;
    max-width: 50%;
  }
  .d{
    position: absolute;
    top: 5px;
    right:0px;
  }
  .flex{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    align-items: center;
  }
  .container a #twelogo{
    height: 60px;
  }
  .container a #dis{
    height: 100px;
  }
  #discord{
    position: absolute;
    width: 180px;
    right:110px;
    top:37px;
  }
  .container:hover a img{
    transform: scale(1.08);
  }
  .container p{
    font-family: 'bungee';
    font-size: 1rem;
    color: white;
  }
  #followus{
    padding: 10px;
  }
  .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70%;
  }
  .container2 .box{
    text-align: center;
    font-family: 'bubbler'; 
    font-size: 2rem;
  }
  p:first-child{
    color: white;
  }
  .wholecard{
    position: relative;
  }
  #card{
    position: relative;
    height: 200px;
  }
  #logo{
    position: absolute;
    height:149px;
    top: 9.5%;
    left: 33%;
    backface-visibility: hidden;
  }
  .container2 .box:hover img{
    transition: transform 0.8s;
    transform: rotateY(180deg);
  }
  span{
    font-family: 'bungee';
    font-size: 3rem;
    color: white;
  }
 

  

 